parameters:
    level: 5
    paths:
        - src
        - tests
    tmpDir: var/cache/phpstan
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: property.unusedType
            path: src/Entity
            reportUnmatched: false
